__pycache__/
*.pyc
.env
.env.*
.vscode/
.idea/

inputs/*
static/*
!inputs/.gitkeep
!static/.gitkeep

# secret / credentials
tomato-line-botV3.json
service_account.json
*.pem
*.key

# allow this model mapping file
!models/class_mapping.json
