# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Runtime files
inputs/*
static/*

# Keep folders
!inputs/.gitkeep
!static/.gitkeep

# Secrets
*.json
.env
.env.local

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
